.ghe {
  /* height: 35px;
  width: 35px; */
  background-color: rgb(231 229 228);
  border-radius: 5px;
  margin: 4px;
  border-color: rgb(231 229 228);
}
.gheDangDat {
  background-color: chartreuse !important;
  border-color: chartreuse !important;
}
.gheDaDat {
  background-color: rgb(127 29 29) !important;
  border-color: rgb(127 29 29) !important;
}
.gheVip {
  background-color: rgb(239 68 68);
  border-color: rgb(239 68 68);
}
