.bgMovie {
  background-image: url(../../assets/img/about-4.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* background-attachment: fixed; */
}

.trapezoid {
  border-bottom: 50px solid rgb(223, 54, 12);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100%;
  box-shadow: -9px 28px 27px 22px rgba(14, 165, 47, 0.38);
  filter: drop-shadow(10px 5px 12px rgba(169, 168, 169, 0.867));
}
